@charset "UTF-8";
body#corpo img{
    box-shadow: 1px 1px 1px 1px black;
    margin: 10px;
}
body#corpo{
    background-color: rgb(99, 199, 245);
}
body#corpo p{   
    text-align: left;
    margin: 15px 15px 15px 15px;
    font-family:  'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15pt;
}
body#corpo h1 {
    text-align: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25pt;
    color: black;
}
body#corpo h2 {
    text-align: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25pt;
    color: rgb(0, 0, 0);
}
body#corpo h3 {
    text-align: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18pt;
    color: rgb(0, 0, 0);
}
body#fieldset {
    margin: 10px 10px 10px 10px;
}
body#fieldset input#btnavaliar {
    padding: 10px;
    margin: 10px;
    background-color: skyblue;
    
}

/*configuração dos botoes de home, cadastro e contato;*/
nav#menubtn{
    display: block;
}
nav#btnmenu ul{
    text-transform: uppercase; 
    position: absolute;
    margin: auto;
    margin-bottom: 10px;
    text-align: right;
    font-family:"Times New Roman"; 
}
nav#btnmenu a{
    color: #000000;
    
}
nav#btnmenu li{
    display: inline-block;
    background-color:  #069ac7;
    padding: 5px;
    margin: 2px;
    transition: background-color 1s;
    box-shadow: 1px 1px 1px black;
}
nav#btnmenu li:hover{
    background-color:#61c6f5;

}
nav#btnmenu a:hover{
    color: #ffffff;
}
/*cabeçalho*/
header#cabecalho {
    background-color: #069ac7;
    width: auto;
    padding: 30px;
    box-shadow: 5px 5px 10px -1px rgb(0, 0, 0);
    margin-bottom: 3px;
    
}
header#cabecalho img {
    margin: 10px 10px 10px ;
    text-align: center;
}

/* rodape*/
footer#rodape{
    margin-top: 30px;
    margin-left: -2px;
    margin-bottom: -100px;
    padding: 30px;
    height: 55px;
    width: auto;
    position: fixed;
    background-color: rgb(6, 154, 199);
    box-shadow: 1px 1px 6px rgb(0, 0, 0);
}
footer#rodape p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: right;
    color: rgb(0, 0, 0);
    margin-bottom: 98px;
    margin: 5px 10px 10px 10px;
}
footer#rodape p#datafooter{
    text-align: center;
}